/*******************************************************************************
 * Services
 ******************************************************************************/

.services {
  margin-top: 2rem;

  .service-section {
    margin-top: 2rem;

    h2 {
      color: var(--global-text-color);
      border-top: 1px solid var(--global-divider-color);
      padding-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-align: left;
    }
  }

  .list-group {
    background-color: var(--global-bg-color);
  }

  .list-group-item,
  .service-role {
    color: var(--global-text-color) !important;
    background-color: var(--global-bg-color) !important;
    border-color: var(--global-divider-color) !important;
  }

  .service-role {
    display: block;
  }

  .service-role-title {
    margin-bottom: 0.5rem;
  }

  .service-records {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1.25rem;
    margin-bottom: 0;
  }

  .service-record {
    display: inline-flex;
    gap: 0.35rem;
    align-items: center;
  }

  abbr.badge {
    display: inline-block;
    width: 7.5rem;
    background-color: var(--global-theme-color);
    color: var(--global-card-bg-color) !important;
    text-align: center;
  }

  .service-year {
    color: var(--global-text-color);
    font-style: italic;
  }
}
